.main-navigation {
	display: block;
	position: relative; 
	float: right;  
	font-family: $copy_font; 
 
	 
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		margin-top: 0;  
		li {
			padding:0px;
		}
		ul.sub-menu,ul.children {   
			box-shadow: none;
			float: left;
			text-align:left;
			position: absolute;
			top: auto;
			left: -999em;
			z-index: 99999; 
			border:1px solid #d9d9d9;
			margin: 0;
			ul {
				left: -999em;
				top: 5px;
				margin-top: 0;
				border:1px solid #d9d9d9;
				li:first-child {
					
				}
			}
			li {
				background-color: $white;
				margin: 0;
				height: auto;
				float:left;
				position: relative;

				&:last-child a {
					border: 0;
				}

				&:hover > ul {
					left: 100%;
				}
				&:hover {
                    >a {
                    	border-bottom-color: $primary;
                    }
				}
			}
	
			li {
				a {
				min-width: 230px;
				border-bottom: 1px solid #d9d9d9;
				height: auto;
				color:$secondary;
				padding: 12px 20px;
				text-transform: none;
				font-weight: 400;
				&:after {
					display:none;
				}
				}
				:hover > a {
					color:$primary;
				}
			}

			a:hover {}
		}

		li:hover > ul {
			left: auto;
		}
	}

	li {
		float:left;
		position: relative;
		&:hover ul {
			margin-top:0;
		}
	}
	
	a {
		display: block;
		text-decoration: none;
		color: $white;
		text-transform:uppercase;
		padding:8px 55px 8px 0px;
		position: relative;
		font-weight:600;
		font-size:13px;
	}
	li.menu-item-has-children,li.page_item_has_children {
		a {
			display: block;
			text-decoration: none;
			color: $white;
			text-transform:uppercase;
			padding:8px 55px 8px 0px;
			position: relative;
			font-weight:600;
			font-size:13px;
			&:after {
				position:absolute;
				content:'\f0d7';
				font-family:"FontAwesome";
				top:8px;
				color:#a8a8a8;
				padding-left:8px;
		    }
		}
	}

	.children {
	    border: 12px solid rgba($white,0.8);
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a {
			color: $secondary;  
			background-image : none;
		}
	}

	li li a {
		margin-right: 0;
		&:after {
			display: none;
		}
	}
	
	a:hover,  
	.current-menu-parent > a,
	.current_page_ancestor > a,
	.current_page_parent > a {	  
		color: $white;
		
		&:after {
			
		}		
	}
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled  ul.nav-menu {
		display: block;
		margin: auto;
		li {
			border-bottom: 1px solid $c4;
			float:none;
		}
		ul {
			padding-left: 10%; 
			position: static;
			text-align: none;
			float: none;
			border: none;
			 li {
			 	background-color: transparent;
			 	a {
			     	color: $white;	
			     	&:hover {
			     		color: $primary;
			     	}
			 	}
			 }
		}
	}

	.main-navigation  ul.nav-menu {
		display: none;
	}
}

.comment-navigation,
.paging-navigation,
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation  {
	margin-bottom: 2.5em;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 48%;
	margin: 1%;
}



.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 47%;
	margin: 1%;
}

.post-navigation {
	span {
		display: none;
	}
}

.navigation a,
.comment-navigation a {
		color:$white;
		background-color:$secondary;
		padding-top: 12px;
		padding-bottom: 12px;
		display: block;
		&:hover {
			background-color: $primary;
			color: $white;
		}
}


.comment-navigation {
	position: relative;
	.nav-previous {
		a {
			padding-left: 50px;
			position: relative;
			font-weight: 700;
		}

		&:hover {
			a {
				background: $c3;
				color: $white;
				.meta-nav {
					color: $white;
				}
			}
		}
	}

	.nav-next {
		a {
			padding-right: 50px;
			position: relative;
			font-weight: 700;
		}
		&:hover {
			a {
				background: $c3;
				color: $white;
				.meta-nav {
					color: $white;
				}
			}
		}		
	}

}


.nav-links,
.more-link,.comment-navigation {
	position: relative;

	a {
		position: relative;   
		font-family: $heading-font;
		
	}

	.meta-nav {
		width: 40px;
		height: 100%;
		background-color: $primary;
		display: inline-block;
		color: $white;
		text-align: center;
		@include position(absolute);
		line-height:50px;
		top: 0;
		
		i {
			font-size:20px;
			font-weight: 700;
		}
	}

	.nav-previous {
		a {
			padding-left:50px;
			padding-right:20px;
			display:inline-block;
		}

		.meta-nav {
			left: 0;
		}
		&:hover {
			a {
				background: $primary;
				color: $white;
				.meta-nav {
					color: $white;
					background: $secondary;
				}

			}
		}
	}

	.nav-next {
		a {
			padding-left:20px;
			padding-right:50px;
			display:inline-block;
		}

		.meta-nav {
			right: 0;
		}
		&:hover {
			a {
				background: $primary;
				color: $white;
				
				.meta-nav {
					color: $white;
					background: $secondary;
				}
			}
		}		
	}
}

a.more-link {
	padding: 8px 15px;
	color: $white;
	display: inline-block;
	font-size: 14px;   
	background:$primary;
	text-transform:uppercase;

	&:hover {
		background-color: $secondary;
		color: $white;
	}
}


.nav-links a:hover .meta-nav {
	background-color: transparent;
	color: $c3;
}
.page-navigation {
	margin-top: 60px;
	text-align:center;
}

.menu.nav-menu::after, .menu.nav-menu::before {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    }

.navigation.pagination {
	margin: 0;
	list-style-type: none;  
	position: relative;
	text-align:left;   
	
	.page-numbers {
		display: inline-block;
		margin-right: 10px;
		color: $white;
		padding:8px 15px;
		background:$primary;
		a {      
			display: inline-block;
			text-align: center;
			@include font-size(1.4);
			color: $white;
			//padding: 10px;	
		}
		&:hover {
			background:$secondary;
		}																															
		
	}
	.page-numbers.current {
		color: $white;
		text-align: center;
		@include font-size(1.4);	
		padding:8px 15px;
		background:$secondary																																		;
		
	}
	.prev.page-numbers,.next.page-numbers {
		padding:8px 15px;									
	}

}

.sub-menu,.children {
  .current_page_item::before,.current-menu-item::before,.current_page_ancestor::before,.current-menu-parent::before {
    top:0;
  }
}

.branding .nav-wrap {
	.container {
		padding-bottom:10px;
	}
}