.branding {     
	background-color:$secondary;
	.site-branding {
		text-align: left;
		position: relative;
		margin-top:20px;
		h1.site-title {
			font-size:38px;
			a {
				color:$white;
				text-transform:uppercase;
			}
		}
		.site-description {
			@include font-size(1.4);
			color: $c2;
			font-family: $copy_font;
			padding: 0px 10px 10px 0px;
			position: relative;
			margin-bottom:0;
			margin-top: -12px;
			
		}

		.site-title {
			margin-bottom: 0;
		}	

	}
}

.sticky-nav {
 	position: fixed;
	top: -2px;
	left: 0;
	width: 100%;
	z-index: 1000;
}
.admin-bar .nav-wrap.sticky-nav {
   top: 30px;
}

.no-sidebar {
 	float: none;
 	margin: 0 auto;
 	display: block;
}


.branding {
	.container {
		padding-bottom:30px;
	}
	.header-search-box {
		.search-form {
			margin-top:35px;
			position:relative;
			.search-submit {
				position:absolute;
				content:"";
				top:0px;
				height:100%;
				right:-8px;
				border-radius:2px;
				text-indent:-999em;
				background:$primary url("images/icon-search-white.png") no-repeat scroll 60% 50%;
				&:hover {
					background:$white url("images/icon-search-black.png") no-repeat scroll 60% 50%;
				}
			}
			input[type="search"]{
				padding:9px;
				border-radius:4px;
			}
		}
	}
	.cart-item {
		margin-top:35px;
		float:right;
		background-color:$primary;
		padding:10px 20px;
		border-radius:4px;
		font-weight:700;

		i {
			color:$white;
			font-size:20px;
			padding-right:5px;
		}
		a {
			color:$white;
		}
		&:hover {
			background:$secondary;
		}
	}
}

/* Breadcrumb */
.breadcrumb {
  background: $c1;
  position: relative;
  padding:5px 0px;
  margin-top: 0;
  a {
    color: $secondary;
    &:hover {
      color: $primary;
    }
  }
  .breadcrumb-left {
      h4 {
        @include font-size(2.5);
        text-transform: capitalize;
        color: $secondary;
        margin-bottom:0;
        font-weight:600;
      }
  }

  .breadcrumb-right {
   text-align: right;
   color: $secondary;
   float: right;
   margin-top: 8px;
   @include font-size(1.6);
    #crumbs{
      span {
      	padding:0px 4px;
      }
    }
  }
}


@import "top-header";