.widget_search {
	.search-form {
		position: relative;
		
		label {
			display: block;		
		}

		input[type="search"] {
			color: $secondary;
			width: 100%;
			padding: 5px;
			background: transparent;
		}
		input[type="search"]:focus {
			background: $white;
			color: $secondary!important;
		}
		input[type="submit"]  {
			border: 0;
			position: absolute;     
			right:-12px;
			top: 0px;
			text-indent: -9999em;  
			height:100%;   
			background:$primary url("images/icon-search-white.png") no-repeat 60% 50%;	
		}	   
	}
} 
 
.nav-wrap {
	.search-form {
		top: 13px;
		text-align: right;
		  position: relative;
		  margin: 0px 10px;

			
			 .search-submit {
			    position: absolute;
			    right: -5px;
			    margin: 0;
			    padding:5px;
			    top: 10px;   
			    border: none;
			    color: transparent;
			    
			}
			
	}
}    