.widget_tag_cloud {
	a {
		padding: 2px 15px;
		color: $c2;
		margin: 3px ;
		font-size:14px !important;
		display: inline-block;
	    border: 1px solid $c2;
	    &:hover {
	      background: $primary;
	      color:$white;
	    }
	}
}
