.site-info {
	background: $primary;
	.copyright {
		padding: 17px 0px;
	}
	.left-sidebar {
		text-align: rigth;
		padding-top: 12px;
		li  a {
			font-family: $copy_font;
		}
		.textwidget {
			ul {
				text-align:right;
				li {
					list-style:none;
					display:inline-block;
					padding:10px 15px;
					a{
						color:$white;	
						&:hover {
							color:$primary;
						}
					}
					
				}	
			}
		}
	}

	.widget {
		margin: 0;
	}

	p {
		color: $white;
		margin:0;
		@include font-size(1.4);
		a {
			color:rgba($white,0.7);
			&:hover {
				color: $white;
			}
		}
	}

	.widget_nav_menu {
	
		ul {
			text-align: right;
		}
		.sub-menu {
			border-top: none;
		}
	
		li {
			border: 0;
			padding: 0;
			display: inline;
		}

		a {
			font-family: $heading_font;
			display: inline-block;
			color: rgba($white,0.7);
			padding: 4px 10px;
			@include font-size(1.3);
			text-transform: uppercase;
			border-top: 3px solid transparent;
			position: relative;

			
			&:hover {
				color:  $white;
			}
		}

	}

	
}