.site-footer .footer-widgets {
	margin-top: 0;
}
	
.site-footer {
	background: $secondary;
	.footer-widgets {
		padding: 90px 0 50px;
		color:$c5;
		h4.widget-title {
			color: $white;
			padding-bottom: 10px;
			@include font-size(2.4);
			text-transform: uppercase;
			//border-bottom: 4px solid $primary;

		}

		ul li {
			padding-bottom: 5px;
			padding-top: 5px;
			@include transition-default(all, 0.5s, ease);
			list-style:none;
			color:rgba($white,0.7);
			&:hover {
				background-position:10px 12px;
			}
		}

		ul.children,
		.widget_nav_menu ul.sub-menu {
			border-color: rgba($white, 0.2);
		}
		.calendar_wrap {
			td,th {
				color: $white;
			}
			 a {
				color: $white;
				&:hover {
					color: $primary;
				}
			}
			tbody tr:nth-child(odd) {
				th {
					background-color:$secondary;
					color:$white;
				}
				td {
					background-color:$secondary;
					color:$white;	
				}
			}
			tbody tr:nth-child(even) {
			th,td{
					background-color:$secondary;
					color:$white;
				}
			}
		}
		.widget_calendar table caption {
			background: $primary;
			border:1px solid $white;
		}

		select {
			width: 100%;
			background: $white url('images/down.png') no-repeat 95% 50% white;
			-moz-appearance: none;
			border: 1px solid $c1;
			padding: 5px 10% 5px 3%;

		}
		.widget_search .search-form input[type="search"] {
			color: $white;
		}

		a {
			color:rgba($white,0.7);
			&:hover{
				color: $primary;
			}
		}

		p {
			color:rgba($white,0.7);
		}
		.widget_nav_menu li{
			border-bottom: none;
			ul.sub-menu {
				border-top: none;
				margin-left:7px;
			}
		}

		.widget_tag_cloud a:hover {
			color: $white;
		}

		.widget_rss ul li {
			background: none;
		}

	}
	.scroll-to-top {
		background: $primary;
		color: $white;
		bottom: 10%;
		cursor: pointer;
		//display: none;
		position: fixed;
		right: 20px;
		z-index: 999;
		text-align: center;
		line-height: 40px;
		width: 40px;
		@include border-radius(4px);
		-webkit-transition: background-color 0.3s linear;
		-moz-transition: background-color 0.3s linear;
		-o-transition: background-color 0.3s linear;
		transition: background-color 0.3s linear;
	}
	.scroll-to-top:hover {
		background: rgba($primary, 0.8);
	}
}

.seven.columns {
	ul {
		li {
			display:inline-block;
			padding:10px 15px;
		}
	}
}


@import "bottom-footer";