.home {
  .site-content {
       padding-top:75px;
       padding-bottom:25px;
       margin-bottom:0px;
  }
  .site-header {
    border-bottom: none;
  }
}

.home.blog .site-content {
    padding-top: 100px;
}

/* service title divider */ 
.title-divider {
  text-align:center;
  padding-bottom: 20px;
  position: relative;
    &:before {
      position: absolute;
      content:"";
      height: 2px;
      background: $primary;
      width: 95px;
      bottom:0;
      left: calc(50% - 48px);
      box-shadow: 10px 0px 0 #fff inset,-10px 0 0 #fff inset;
      border-left: 25px solid #d7d7d7;
      border-right: 25px solid #d7d7d7; 
    }
}





.error-404.not-found {
text-align: center;
  h1.page-title {
    text-align: center;
    margin-bottom: 30px;
    span {
      color: $c3;
      display: block;
    }
  }
}

.no-results,.not-found {
    input[type="search"] {
        float: left;
        width: 75%;
    }
    input[type="submit"] {
        float: left;
        width: 20%;
        position: relative;
        right: -4px;
        top: -5px;
    }
}


/* Woocommerce Service Section */

.service-wrapper {
  position:relative;
  border:1px solid $c1;
  margin-bottom:35px;
  img {
    display:block;
  }
  .service-content {
    position:absolute;
    right:15px;
    text-align:right;
    bottom:5%;
    p a {
      padding:3px 20px;
      text-transform:uppercase;
      background:$secondary;  
      display:inline-block;
      margin-top:5px;
      color:$white;
      &:hover {
        background:$primary;
        color:$white;
      }
    }
    h4 {
      text-transform:uppercase;
      margin-bottom:0px;
      font-weight:normal;
      a {
         color:$c2;
         &:hover {
            color:$primary;
         }
      }
    }

  }
}
.box-right {
    .service-content {
        top:5%;
    }
}


.row {
  #primary {
    .page-title {
      font-size:2.4rem;
      text-transform:uppercase;
      color:$white;
      background-color:$secondary;
      //padding-left:20px;
      font-weight:normal;
      font-family: "Open Sans",sans-serif;
      span {
        background:$primary;
        padding:3px 20px;
      }

    }
  }
}

.entry-header {
  h1{
      font-size:2.2rem;
      text-transform:uppercase;
      color:$white;
      background-color:$secondary;
      margin-bottom:50px;
    
      span {
        background:$primary;
        padding:3px 20px;
      }

  }
}
