.flexslider {
  border: 0 !important;   
  margin-bottom: 0; 
  @include box-shadow(inset,0,0,0,transparent !important);
  @include border-radius(0px !important);
  background: transparent !important;
  
  .slides > li {
    @include position(relative);
  }

  .flex-direction-nav {
    li {
      border: 0 !important;
      padding: 0;
    }

    a {
      margin: 0;
      text-align: center;
      top: 45%;    
      opacity:1;
      overflow: visible;    
      @include size(40px, 40px);
      @include font-size(0);
      line-height: 40px;
      background: rgba($secondary,0.9); 
      border-radius: 2px;
      &:before {
        @include font-size(2);
        color: $white;
        font-family: "FontAwesome";
      }
      &:hover {
        background-color: $secondary;
        &:before {
          color: $white;
        }       
      }     
    }

    a.flex-prev {
      left:10px;
      &:before {
        content:"\f104";
      } 
      &:after {
        left: 5px;
      }    
    }

    a.flex-next {
      text-align: center;
      right:10px;
       &:before {
        content:"\f105";
      } 
      &:after {
        right: 5px;
      } 
    }


  }

  .flex-control-nav {
    text-align: right;
    bottom: 0;
    li {
      display: block;
      float: left;
      margin: 0;
    }
   
  }

  ol.flex-control-paging {
    text-align: center;
    bottom: 15px;
    z-index: 10;
    li {
      float: none;
      display: inline;
      padding:0px;
      a {
        display: inline-block;
        @include border-radius(25px !important);
        background-color: $white;
        border: 1px solid $white !important;
        text-indent: -9999em !important;
        margin: 0 3px;
        box-shadow:none;
      }

      a.flex-active,a:hover {
        border: 1px solid $white!important;
        border-radius: 25px;
        background-color:transparent;

      }

    }
  }

  &:hover {
    .flex-direction-nav {

      a.flex-prev {
        //left: 60px !important;
        background-color: rgba($secondary, 0.7);
        opacity:1;
        &:hover {
           background-color: rgba($primary, 0.4);
        }
      }

      a.flex-next {
        //right: 60px !important;
        background-color: rgba($secondary, 0.7);
        opacity:1;
         &:hover {
           background-color: rgba($primary, 0.4);
        }
      }
    }
  }
}



.flexslider {
  .flex-caption {
      position: absolute;
      top: 25%;
      color: $white;
      padding:30px 50px 30px 130px;
      text-align: left;
      margin:0 auto;
      background:rgba($secondary,0.5);
        h1,h2,h4,h5,h6 {
          color: $white;
          position: relative;

        } 
        h3 {
          font-family: 'Great Vibes', cursive;
          font-weight:400;
          font-size:3.2rem;
          color:$white;
          margin-bottom:-15px;
          letter-spacing:0.04em;
        }

        p {
          @include font-size(1.6);
        }

    p a {
          color: $white;
          padding: 7px 30px 7px 16px; 
          //margin: 10px;
          font-weight: 600;
          display: inline-block;
          text-align: center;
          border: 1px solid $white;
          position:relative;
          &:after {
            position:absolute;
            content:'\f105';
            font-family:"FontAwesome";
            top:6px;
            font-weight: 600;
            color:$white;
            padding-left:10px;
          }
          
          &:hover {
             background-color: $white;
             color: $secondary; 
             &:after {
                color:$secondary;
             }
          }
      }

  }
}
